/*
 * Global Nextflow configuration
 * Default params + profile hooks
 */
nextflow.enable.dsl=2

params {
    // Input reads
    reads          = null
    samples_tsv    = null

    // Genome / annotation resources
    star_index     = null
    genome_fasta   = null
    gtf            = null
    star_fusion_ctat_lib = null
    arriba_blacklist     = null

    // Kraken2 database
    kraken2_db     = null
    kraken_policy  = 'keep_unclassified'

    // FusionCatcher optional
    run_fusioncatcher = false

    // Execution settings
    outdir         = "./results"
    threads        = 4
}

profiles {
    standard { includeConfig 'conf/containers.config' }
    docker   { includeConfig 'conf/containers.config' }
    singularity { includeConfig 'conf/containers.config' }
}
